# 1. Impedir el listado de directorios
Options -Indexes

# 2. Configurar la página de error personalizada
ErrorDocument 404 /404.html

# 3. Redirección al dominio (Opcional por ahora, se activará en AWS)
# Esto asegura que si entran por IP, Apache intente llevarlos al dominio.
RewriteEngine On
# RewriteCond %{HTTP_HOST} ^localhost$ [NC]
# RewriteRule ^(.*)$ http://roberto.chickenkiller.com/$1 [L,R=301]
